<ion-view view-title="Playlist">
  <ion-content>
    <div class="card" ng-hide="finished()">
      <div class="item item-text-wrap">
        <h1>{{getCurrentCard().origin}}</h1>
        <div ng-show="showTranslation">
          {{getCurrentCard().description}}
        </div>
      </div>
    </div>

    <div class="card" ng-show="finished()">
      <div class="item item-text-wrap">
        <button class="button button-positive ion-android-sync" ng-click="restart()"> Начать сначала</button>
      </div>
    </div>

  </ion-content>
</ion-view>

<div class="bar bar-footer" ng-hide="finished()">
  <button ng-hide="showTranslation" class="button button-positive" ng-click="remember()"> Помню</button>
  <button ng-show="showTranslation" class="button button-positive" ng-click="next()"> Дальше</button>
  <button ng-hide="showTranslation" class="button button-assertive" ng-click="dontRemember()"> Не помню</button>
</div>