<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container" style="padding-left: 290px;">

    <div class="row">

        <div class="col-md-8" ng-show="currentPlaylist!==null">
            <h2>
                {{currentPlaylist.name}}
            </h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Добавить новую карточку</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="addNewSubmit()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputPassword2" class="col-sm-3 control-label">
                                Оригинал</label>

                            <div class="col-sm-9">
                                <input ng-model="newCard.origin" type="text" class="form-control"
                                       id="inputPassword2" placeholder="Оригинал" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2" class="col-sm-3 control-label">
                                Перевод</label>

                            <div class="col-sm-9">
                                <input ng-model="newCard.description" type="text" class="form-control"
                                       id="inputPassword2" placeholder="Перевод" required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button class="btn btn-success btn-sm" type="submit">
                                    Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default" ng-repeat="card in currentCards">
                <div class="panel-body">
                    <h1>{{card.origin}}</h1>
                    {{card.description}}
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="footer">
        test
    </div>

</div>
