/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

.menu-dark {
    border-color: #444444;
    background-color: #444444;
    color: #fff;
}
/*.menu-dark .bar-header
{
    background-image: url('../img/gradient.jpg');
    background-repeat: space;
}*/

.menu-dark .bar-header,
.menu-dark .item,
.menu-dark .item-complex .item-content
{
    background-color: #444444;
    color: #fff;
    border: none;
    background-image: none;
}

.bar-stable .button.button-clear,
.bar.bar-stable .title
{
    color: #fff;
}

.menu-dark .bar.bar-stable .title,
.login-view .title
{
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    text-shadow: 2px 2px #000;
    color: #fff;
    text-align: center;
}

.menu-dark .bar.bar-stable .title{
    color: #fff;
    background: none;
}
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background-image: url('../img/gradient.jpg');
}

.login-view {
    background: linear-gradient(to right, #be3851 0%, #733750 100%);
}

.login-view .item input {
    border-bottom: 1px solid #fff;
    width: 50%;
    max-width: 50%;
    color: #fff;
}

.login-view .item {
    background: none;
    color: #fff;
    border: none;
}

.login-view .logo {
    color: #fff;

}

.login-view .input-label {
    color: #fff;
}

.login-view .title {
    font-size: 2.5em;
}

.login-view .button.button-positive {
    border-color: #fff;
}

.logo img {
    width: 60%;
    max-width: 300px;
}
.logo {
    text-align: center;
    padding-top: 30px;
}