<div class="nav-side-menu" ng-controller="NavbarCtrl">
    <div class="brand">Cardagram</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a ui-sref="dashboard"><span class="glyphicon glyphicon-blackboard"></span> Отчет</a>
            </li>

            <li ng-click="togglePlaylistsItem()" class="collapsed active">
                <span class="glyphicon glyphicon-th-list"></span> Плейлисты <span
                    class="arrow glyphicon glyphicon-menu-down"></span>
            </li>
            <ul class="sub-menu" id="products" ng-show="itemPlaylistsColapse">
                <li>
                    <input type="text" ng-model="newPlaylist"/>
                    <button class="btn btn-xs" ng-click="add()">
                        <span class="glyphicon glyphicon-plus"></span>Добавить
                    </button>
                </li>
                <li ng-class="selectedClass(pl.id)" ng-repeat="pl in playlists"><a
                        ui-sref="playlist({ id: pl.id })"><span
                        class="glyphicon glyphicon-th"></span> {{pl.name}}</a>
                    <button class="btn btn-xs btn-remove-item" ng-click="delete(pl)"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </li>
            </ul>

            <!--<li>-->
                <!--<span class="glyphicon glyphicon-wrench"></span> Настройки-->
            <!--</li>-->
        </ul>
    </div>
</div>

<div class="top-menu" ng-controller="TopMenuCtrl">
    <div class="panel-user-info">
        {{user.email}} (<a ng-click="logout()">Выйти</a>)
    </div>
</div>

<div class="top-gap"></div>
