<!--
<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="signup">Регистрация</a></li>
        <li><a ui-sref="login">Вход</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
-->
<div class="nav-side-menu" ng-controller="NavbarCtrl">
    <div class="brand">Cardagram</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <span class="glyphicon glyphicon-blackboard"></span> Отчет
            </li>

            <li ng-click="togglePlaylistsItem()" class="collapsed active">
                <span class="glyphicon glyphicon-th-list"></span> Плейлисты <span
                    class="arrow glyphicon glyphicon-menu-down"></span>
            </li>
            <ul class="sub-menu" id="products" ng-show="itemPlaylistsColapse">
                <li>
                    <input type="text" ng-model="newPlaylist"/>
                    <button class="btn btn-xs" ng-click="add()">
                        <span class="glyphicon glyphicon-plus"></span>Добавить
                    </button>
                </li>
                <li ng-class="selectedClass(pl.id)" ng-repeat="pl in playlists" ui-sref="playlist({ id: pl.id })"><span
                        class="glyphicon glyphicon-th"></span> {{pl.name}}
                </li>
            </ul>

            <li>
                <span class="glyphicon glyphicon-wrench"></span> Настройки
            </li>
        </ul>
    </div>
</div>

<div class="top-menu">
</div>

<div class="top-gap"></div>
